<nav>
    <!-- Navbar content -->
    <div>
        <a href="{{ url_for('pages.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('control.settings') }}">Settings</a>
        <a href="{{ url_for('documentation.docs') }}">Documentation</a>
    </div>
    <!-- Search bar -->
    {# <form action="{{ url_for('search') }}" method="get">
        <input type="text" name="q" placeholder="Search...">
        <input type="submit" value="Search">
    </form> #}
</nav>
