[project]
dependencies = [
    "audioop-lts>=0.2.1",
    "discord-py>=2.4.0",
    "uvicorn>=0.34.0",
]
name = "Winter-Dragon-Bot"
requires-python = ">=3.12"
# authors = [{name = "name", email = "name@address.com"}]
version = "0.1.0"

[tool.uv.workspace]
members = [
    "backend",
    "bot",
    "database",
    "tests",
]

[tool.setuptools]
py-modules = [
    "backend",
    "bot",
    "database",
]

[tool.tomlsort]
all = true
in_place = true
no_block_comments = false
no_comments = false
no_footer_comments = false
no_header_comments = false
no_inline_comments = false
no_sort_tables = true
sort_inline_arrays = true
sort_inline_tables = true
sort_table_keys = true
spaces_before_inline_comment = 2
spaces_indent_inline_array = 4
trailing_comma_inline_array = true
