# pipreqs --encoding=utf8 --ignore=.venv --force .\
aiohttp==3.9.5
beautifulsoup4==4.12.3
discord.py==2.4.0
Flag==0.1.1
hypothesis==6.103.2
matplotlib==3.7.1
openai==0.26.5
psutil==5.9.5
pytest==8.1.1
Requests==2.32.3
requests_oauthlib==2.0.0
SQLAlchemy==2.0.31
Werkzeug==3.0.3
fastapi
pydantic-settings
fastapi-users[sqlalchemy]
