# pipreqs --encoding=utf8 --ignore=.venv --force .\
aiohttp==3.9.1
beautifulsoup4==4.12.3
discord.py==2.3.2
flag==0.1.1
matplotlib==3.8.2
num2words==0.5.13
openai==1.8.0
psutil==5.9.7
Requests==2.31.0
SQLAlchemy==2.0.25
discord-ext-modal-paginator>=0.0.1
discord-ext-prometheus
