# pipreqs --encoding=utf8 --ignore=.venv --force .\
aiohttp==3.9.5
beautifulsoup4==4.12.3
discord.py==2.4.0
fastapi==0.115.0
fastapi-users[sqlalchemy]==13.0.0
fastapi-users[authentication]==13.0.0
Flag==0.1.1
hypothesis==6.103.2
matplotlib==3.9.2
openai==1.47
psutil==6.0.0
pydantic_settings==2.3.4
pytest==8.2.2
Requests==2.32.3
SQLAlchemy==2.0.31
# starlette==0.39.0
discord-ext-prometheus==0.2.0
