# pipreqs --encoding=utf8 --ignore=.venv --force .\
# This file contains all the dependencies that are required to run the entire project.
aiohttp==3.11.5
beautifulsoup4==4.12.3
discord.py==2.4.0
fastapi==0.115.0
fastapi-users[sqlalchemy]==14.0.1
fastapi-users[authentication]==14.0.0
Flag==0.1.1
hypothesis==6.112.2
matplotlib==3.9.2
openai==1.51.0
psutil==6.1.1
pydantic_settings==2.5.2
pytest==8.3.4
Requests==2.32.3
SQLAlchemy==2.0.35
discord-ext-prometheus==0.2.0
aiofiles==24.1.0
uvicorn==0.32.0
psycopg2-binary==2.9.9
