.navbar-nav {
  display: flex;
  list-style: none;
  background-color: var(--surface-color);
  border-radius: 90;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: var(--accent-color);
}
