<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/head.j2" %}
</head>
<body>
    <header>{% include "components/header.j2" %}</header>
    <nav>{% include "components/nav.j2" %}</nav>
    <main>
        {% block content %}{% endblock content %}
        {% include "components/sidebar/sidebar.j2" %}
    </main>
    <footer>{% include "components/footer.j2" %}</footer>
</body>
</html>
