name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tomlsort:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v5
      - name: Install dependencies
        run: |
          # python -m pip install --upgrade pip
          pip install toml-sort
      - name: Sort TOML files
        run: |
          toml-sort ruff.toml
          toml-sort pyproject.toml
          toml-sort bot/pyproject.toml
          toml-sort backend/pyproject.toml
          toml-sort database/pyproject.toml
      - name: Check for changes
        run: |
          git diff --exit-code
